<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script 
        src="https://unpkg.com/htmx.org@2.0.3" 
        integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" 
        crossorigin="anonymous"></script>
        <title>Go HTMX</title>
    </head>
    <body>
    <main>
        <h1>To-Do List</h1>
        <ul id="todo-list">
            {{range .Todos}} {{block "todo-list-element" .}}

            <li>{{.Message}}</li>
            {{end}} 
            {{end}}
        </ul>

        <form hx-target="#todo-list" hx-swap="beforeend" hx-post="/add-todo">
            <label for="message">Message</label>
            <input type="text" id="message" name="message" />
            <button type="submit">Create</button>
        </form>
    </main>
    </body>
</html>